@import './_base';
@import './components/_navbar';
@import './components/_movie';
@import './components/_footerBar';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

* {
  font-size: $base-font;
  box-sizing: border-box;
}

.app {
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
