<header>
  <div>
    <a>
      <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg">
    </a>
    <h1>Angular MovieDB</h1>
  </div>
  <div>
    <input type="search" placeholder="Search for movies" ng-model="vm.query" ng-change="vm.handleInputChange()">
    <ul>
      <li ng-repeat="movie in vm.moviesList" ui-sref="movie({ movieId: movie.id })">
        <img ng-if="movie.img" ng-src="{{ movie.img }}" alt="{{ movie.title }}" />
        <a>{{ movie.title }}</a>
      </li>
    </ul>
  </div>
</header>